name: Android CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Build with Gradle
      run: |
          echo "Going to working dir MiniumApps"
          cd MiniumApps
          echo "Add execution right to gradlew script"
          chmod +x gradlew
          echo "Create local.properties with SDK location"
          echo "sdk.dir=$ANDROID_HOME" > local.properties
          echo "Start alpha debug build"
          ./gradlew :launcher3:assembleAlphaDebug

    - name: Save built apk
      uses: actions/upload-artifact@v4
      with:
        name: launcher3-alpha-debug
        path: MiniumApps/launcher3/build/outputs/apk/alpha/debug/launcher3*.apk